.main-button{

}

.main-button a{
  font-size: 1.4rem ;
  padding: 2em;
}

.main-button:hover{
  background-color: dimgray;
}

.main-button:hover a{
  color: whitesmoke !important;
}

.main-button:hover a:hover{
  text-decoration: none;
}
