/* You can add global styles to this file, and also import other style files */
body{
  min-height:100vh;
}


app-root{
  width: 100%;
}


h1,h2,h3,h4,h5,h5, button, thead{
  font-family: "Montserrat", cursive;
}

span, p, div{
  font-family: "Poppins", cursive;
}
