 <div class="container-fluid py-5">
      <div class="row no-gutters py-2">
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Ustawienia aplikacji</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Dodaj firmę</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Zobaczy wszystkie firmy</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Dodaj punkt dostaw</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Zobacz punkty dostaw</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Złóż zamówienie</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Sprawdź zamówienia</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Importuj pliki</a>
          </div>
        </div>
      </div>
    </div>
