<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Management Application - Emails</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}">
</head>
<body>
<section title="header">
    <div class="container-fluid bg-dark text-light text-center py-2">Wiadomosć wygenrowana automatycznie, prosimy na nią nie odpowiadać</div>
</section>