 <div class="container-fluid py-5">
      <div class="row no-gutters py-2">
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Złóż zamówienie</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Zobacz zamówienia</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Podsumowanie miesiąca</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Dodaj punkt dostaw</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Zobacz punkty dostaw</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-5">
          <div class="d-flex mx-auto shadow border-rounded border-secondary main-button p-5">
            <a href="" class="text-dark align-self-center mx-auto text-center">Kontakt z dostawcą</a>
          </div>
        </div>
      </div>
    </div>
