<div class="header border-bottom border-danger">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-sm-2 logo">
        <a routerLink="">
          <img src="assets/IMAGES/oma_logo_grap.png" alt="Order Management Application" class="img-fluid">
        </a>
      </div>
      <div class="col-sm-10 text-right pt-4 pr-5">
        <a href="" class="btn px-3 border-secondary border-rounded mx-1">Logout</a>
        <a href="" class="btn px-3 border-secondary border-rounded mx-1">Profile</a>
      </div>
    </div>
  </div>
</div>
